<!-- StyleSheets -->
<link rel="stylesheet" href="stylesheets/style.css">
<form id="firstForm">
  <div class="date">
    <input id="date" type="date" ng-model="date">
        <select class="locationSelect" ng-model="locationSelect">
                <option disabled selected value> -- Purchased at -- </option>
                <option value="Walgreens"> Walgreens </option>
                <option value="CVS"> CVS </option>
                <option value="addNewLocation"> Add New location</option>
      </select>
  </div>
  <div class="gcType">
        <select id="typeSelect" ng-model="typeSelect">
            <option disabled selected value> -- Select Gift Card Type -- </option>
            <option value="simon"> Simon </option>
            <option value="oneVanilla"> One Vanilla </option>
            <option value="visaGiftCard"> Visa Prepaid Gift Card </option>
            <option value="masterGiftCard"> Mastercard Prepaid Gift Card </option>
            <option value="Other"> Other </option>
          </select>
  </div>
  <div class="ccSelect">
    <select class="creditCardUsed" name="" ng-model="creditCardUsed">
            <option disabled selected value> -- Credit Card Used -- </option>
            <option value="CSR"> CSR </option>
            <option value="AmexPersonal"> American Express personal </option>
            <option value="chaseSpgPers"> Chase SPG personal </option>
            <option value="addNewCC"> Add New </option>
    </select>
  </div>
  <br>
  <input type="text" id="totalSpent" placeholder="Total Spent" ng-model="totalSpent">
  <input type="text" id="fee" placeholder="Fees" ng-model="fee">
  <input type="text" id="pointsEarned" placeholder="Points Earned" ng-model="pointsEarned">
  <br>
  <input type="checkbox" value="moneyOrderDetail"> Add Money Order Details
  <br>
  <button ng-click="formSubmit()" id="submitForm" type="button"> Submit </button>
</form>
<!-- Display User Information -->
