<!-- StyleSheets -->
<link rel="stylesheet" href="stylesheets/style.css">
<form action="">
  <div class="form-group">
    <label for="date"> Select Date: </label>
    <input id="date" class="form-control" type="date" ng-model="date">
  </div>
  <div class="form-group">
    <select class="form-control" id="locatiopnSelect" ng-model="locationSelect">
              <option disabled selected value> -- Purchased at -- </option>
              <option value="Walgreens"> Walgreens </option>
              <option value="CVS"> CVS </option>
              <option value="addNewLocation"> Add New location</option>
    </select>
  </div>


  <div class="form-group">
    <select class="form-control" id="typeSelect" ng-model="typeSelect">
            <option disabled selected value> -- Select Gift Card Type -- </option>
            <option value="simon"> Simon </option>
            <option value="oneVanilla"> One Vanilla </option>
            <option value="visaGiftCard"> Visa Prepaid Gift Card </option>
            <option value="masterGiftCard"> Mastercard Prepaid Gift Card </option>
            <option value="Other"> Other </option>
          </select>
  </div>
  <div class="form-group">
    <select class="form-control" id="creditCardUsed" name="" ng-model="creditCardUsed">
            <option disabled selected value> -- Credit Card Used -- </option>
            <option value="CSR"> CSR </option>
            <option value="AmexPersonal"> American Express personal </option>
            <option value="chaseSpgPers"> Chase SPG personal </option>
            <option value="addNewCC"> Add New </option>
    </select>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="totalSpent" placeholder="Total Spent" ng-model="totalSpent">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="fee" placeholder="Fees" ng-model="fee">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="pointsEarned" placeholder="Points Earned" ng-model="pointsEarned">
  </div>
  <div class="form-group">
    <input type="checkbox" class="form-control" id="moneyOrderCheck" ng-model='checkBoxValue' value="moneyOrderDetail"> Add Money Order Details
  </div>
  <div class="form-group">
    <button ng-click="formSubmit()" id="submitForm" type="button"> Submit </button>
  </div>
</form>



<!-- Display User Information -->
